### ㅇ 목표
: 신용카드 잔액을 갚지 않을 확률 예측
### • '채무 불이행' 기준
: 120일 동안 미납 금액을 지불하지 않은 경우

### • 평가 지표 : M=(G+D)/2  
G : 정규화된 지니 계수  
D : The default rate captured at 4%  


*성능측정에 사용되는 지니 계수 (https://yseon99.tistory.com/55)

*negative(no defaults)클래스 - 1/20 다운샘플링 -> 평가 지표에서 20배 가중치 적용

### • Features

D_* = 연체 변수  
S_* = 지출 변수  
P_* = 지불 변수  
B_* = 균형 변수  
R_* = 위험 변수  

*변수는 익명화, 정규화되었음

#### * S_2
train_data : 2017-03 ~ 2018-03  
test_data : 2018-04 ~ 2019-10

In [5]:
#pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-8.0.0-cp39-cp39-win_amd64.whl (17.9 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\ynjn\anaconda3\lib\site-packages (from pyarrow) (1.20.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-8.0.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_feather('train_data.ftr')

In [3]:
test = pd.read_feather('test_data.ftr')

In [5]:
with pd.option_context("display.min_rows", 6):
    display(train)
    display(test)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.938477,0.001734,0.008728,1.006836,0.009224,0.124023,0.008774,0.004707,...,NaN,NaN,0.002426,0.003706,0.003819,NaN,0.000569,0.000610,0.002674,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.936523,0.005775,0.004925,1.000977,0.006153,0.126709,0.000798,0.002714,...,NaN,NaN,0.003956,0.003166,0.005032,NaN,0.009575,0.005493,0.009216,0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.954102,0.091492,0.021652,1.009766,0.006817,0.123962,0.007599,0.009422,...,NaN,NaN,0.003269,0.007328,0.000427,NaN,0.003429,0.006985,0.002604,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5531448,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-01-06,0.982910,0.444092,0.013153,0.815430,0.003456,0.100525,0.002111,0.012344,...,NaN,NaN,0.009956,0.009995,0.001088,NaN,0.005692,0.006775,0.005566,0
5531449,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-02-06,0.969727,0.442627,0.009857,1.003906,0.005116,0.101807,0.009933,0.008575,...,NaN,NaN,0.005543,0.006565,0.009880,NaN,0.008125,0.001168,0.003983,0
5531450,fffff1d38b785cef84adeace64f8f83db3a0c31e8d92ea...,2018-03-14,0.981934,0.002474,0.000077,0.992676,0.000809,0.119141,0.003286,0.014091,...,NaN,NaN,0.007317,0.002888,0.006207,NaN,0.005112,0.003183,0.001914,0

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-02-19,0.631348,0.001912,0.010727,0.814453,0.007545,0.168701,0.009972,0.002348,...,NaN,NaN,NaN,NaN,0.004669,NaN,NaN,NaN,0.008278,NaN
1,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-03-25,0.586914,0.005276,0.011024,0.811035,0.001817,0.241333,0.000166,0.009132,...,NaN,NaN,NaN,0.000142,0.004940,0.009018,NaN,0.003695,0.003754,0.001460
2,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-04-25,0.608887,0.003326,0.016388,1.004883,0.000114,0.267090,0.004196,0.004192,...,NaN,NaN,NaN,0.000074,0.002113,0.004658,NaN,0.003155,0.002155,0.006481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11363759,fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...,2019-02-17,0.459961,0.005245,0.004421,0.818848,0.000665,NaN,0.000559,0.007057,...,NaN,NaN,NaN,0.007797,0.007740,0.008194,NaN,0.009384,0.003593,0.005604
11363760,fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...,2019-03-19,0.460449,0.002663,0.009529,0.816406,0.009026,NaN,0.008530,0.006851,...,NaN,NaN,NaN,0.007195,0.008453,0.004776,NaN,0.006199,0.005604,0.005970
11363761,fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...,2019-04-18,0.454590,0.004402,0.000346,0.810059,0.008736,NaN,0.000937,0.003494,...,NaN,NaN,NaN,0.003399,0.009590,0.006187,NaN,0.007675,0.006443,0.003143

In [13]:
print(list(train.columns))

['customer_ID', 'S_2', 'P_2', 'D_39', 'B_1', 'B_2', 'R_1', 'S_3', 'D_41', 'B_3', 'D_42', 'D_43', 'D_44', 'B_4', 'D_45', 'B_5', 'R_2', 'D_46', 'D_47', 'D_48', 'D_49', 'B_6', 'B_7', 'B_8', 'D_50', 'D_51', 'B_9', 'R_3', 'D_52', 'P_3', 'B_10', 'D_53', 'S_5', 'B_11', 'S_6', 'D_54', 'R_4', 'S_7', 'B_12', 'S_8', 'D_55', 'D_56', 'B_13', 'R_5', 'D_58', 'S_9', 'B_14', 'D_59', 'D_60', 'D_61', 'B_15', 'S_11', 'D_62', 'D_63', 'D_64', 'D_65', 'B_16', 'B_17', 'B_18', 'B_19', 'D_66', 'B_20', 'D_68', 'S_12', 'R_6', 'S_13', 'B_21', 'D_69', 'B_22', 'D_70', 'D_71', 'D_72', 'S_15', 'B_23', 'D_73', 'P_4', 'D_74', 'D_75', 'D_76', 'B_24', 'R_7', 'D_77', 'B_25', 'B_26', 'D_78', 'D_79', 'R_8', 'R_9', 'S_16', 'D_80', 'R_10', 'R_11', 'B_27', 'D_81', 'D_82', 'S_17', 'R_12', 'B_28', 'R_13', 'D_83', 'R_14', 'R_15', 'D_84', 'R_16', 'B_29', 'B_30', 'S_18', 'D_86', 'D_87', 'R_17', 'R_18', 'D_88', 'B_31', 'S_19', 'R_19', 'B_32', 'S_20', 'R_20', 'R_21', 'B_33', 'D_89', 'R_22', 'R_23', 'D_91', 'D_92', 'D_93', 'D_94', 'R_24', 'R_25', 'D_96', 'S_22', 'S_23', 'S_24', 'S_25', 'S_26', 'D_102', 'D_103', 'D_104', 'D_105', 'D_106', 'D_107', 'B_36', 'B_37', 'R_26', 'R_27', 'B_38', 'D_108', 'D_109', 'D_110', 'D_111', 'B_39', 'D_112', 'B_40', 'S_27', 'D_113', 'D_114', 'D_115', 'D_116', 'D_117', 'D_118', 'D_119', 'D_120', 'D_121', 'D_122', 'D_123', 'D_124', 'D_125', 'D_126', 'D_127', 'D_128', 'D_129', 'B_41', 'B_42', 'D_130', 'D_131', 'D_132', 'D_133', 'R_28', 'D_134', 'D_135', 'D_136', 'D_137', 'D_138', 'D_139', 'D_140', 'D_141', 'D_142', 'D_143', 'D_144', 'D_145', 'target']

In [4]:
train.info(max_cols=200, show_counts=True)

# 결측값이 다수 존재함을 확인할 수 있음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5531451 entries, 0 to 5531450
Data columns (total 191 columns):
 #    Column       Non-Null Count    Dtype
---   ------       --------------    -----
 0    customer_ID  5531451 non-null  object
 1    S_2          5531451 non-null  datetime64[ns]
 2    P_2          5485466 non-null  float16
 3    D_39         5531451 non-null  float16
 4    B_1          5531451 non-null  float16
 5    B_2          5529435 non-null  float16
 6    R_1          5531451 non-null  float16
 7    S_3          4510907 non-null  float16
 8    D_41         5529435 non-null  float16
 9    B_3          5529435 non-null  float16
 10   D_42         791314 non-null   float16
 11   D_43         3873055 non-null  float16
 12   D_44         5257132 non-null  float16
 13   B_4          5531451 non-null  float16
 14   D_45         5529434 non-null  float16
 15   B_5          5531451 non-null  float16
 16   R_2          5531451 non-null  float16
 17   D_46         4319752 non-null  float16
 18   D_47         5531451 non-null  float16
 19   D_48         4812726 non-null  float16
 20   D_49         545534 non-null   float16
 21   B_6          5531218 non-null  float16
 22   B_7          5531451 non-null  float16
 23   B_8          5509183 non-null  float16
 24   D_50         2389049 non-null  float16
 25   D_51         5531451 non-null  float16
 26   B_9          5531451 non-null  float16
 27   R_3          5531451 non-null  float16
 28   D_52         5501888 non-null  float16
 29   P_3          5229959 non-null  float16
 30   B_10         5531451 non-null  float16
 31   D_53         1446866 non-null  float16
 32   S_5          5531451 non-null  float16
 33   B_11         5531451 non-null  float16
 34   S_6          5531451 non-null  float16
 35   D_54         5529435 non-null  float16
 36   R_4          5531451 non-null  float16
 37   S_7          4510907 non-null  float16
 38   B_12         5531451 non-null  float16
 39   S_8          5531451 non-null  float16
 40   D_55         5346648 non-null  float16
 41   D_56         2540508 non-null  float16
 42   B_13         5481932 non-null  float16
 43   R_5          5531451 non-null  float16
 44   D_58         5531451 non-null  float16
 45   S_9          2597808 non-null  float16
 46   B_14         5531451 non-null  float16
 47   D_59         5424726 non-null  float16
 48   D_60         5531451 non-null  float16
 49   D_61         4933399 non-null  float16
 50   B_15         5524528 non-null  float16
 51   S_11         5531451 non-null  float16
 52   D_62         4773290 non-null  float16
 53   D_63         5531451 non-null  category
 54   D_64         5531451 non-null  category
 55   D_65         5531451 non-null  float16
 56   B_16         5529435 non-null  float16
 57   B_17         2393853 non-null  float16
 58   B_18         5531451 non-null  float16
 59   B_19         5529435 non-null  float16
 60   D_66         623354 non-null   category
 61   B_20         5529435 non-null  float16
 62   D_68         5314948 non-null  category
 63   S_12         5531451 non-null  float16
 64   R_6          5531451 non-null  float16
 65   S_13         5531451 non-null  float16
 66   B_21         5531451 non-null  float16
 67   D_69         5336978 non-null  float16
 68   B_22         5529435 non-null  float16
 69   D_70         5436534 non-null  float16
 70   D_71         5531451 non-null  float16
 71   D_72         5507743 non-null  float16
 72   S_15         5531451 non-null  float16
 73   B_23         5531451 non-null  float16
 74   D_73         55856 non-null    float16
 75   P_4          5531451 non-null  float16
 76   D_74         5509678 non-null  float16
 77   D_75         5531451 non-null  float16
 78   D_76         622497 non-null   float16
 79   B_24         5531451 non-null  float16
 80   R_7          5531450 non-null  float16
 81   D_77         3017539 non-null  float16
 82   B_25         5524528 non-null  float16
 83   B_26         5529435 non-null  float16
 84   D_78         5257132 non-null  float16
 85   D_79         5455512 non-null  float16
 86   R_8          5531451 non-null  float16
 87   R_9          312533 non-null   float16
 88   S_16         5531451 non-null  float16
 89   D_80         5509678 non-null  float16
 90   R_10         5531451 non-null  float16
 91   R_11         5531451 non-null  float16
 92   B_27         5529435 non-null  float16
 93   D_81         5505764 non-null  float16
 94   D_82         1472837 non-null  float16
 95   S_17         5531451 non-null  float16
 96   R_12         5531395 non-null  float16
 97   B_28         5531451 non-null  float16
 98   R_13         5531451 non-null  float16
 99   D_83         5336978 non-null  float16
 100  R_14         5531450 non-null  float16
 101  R_15         5531451 non-null  float16
 102  D_84         5501888 non-null  float16
 103  R_16         5531451 non-null  float16
 104  B_29         381416 non-null   float16
 105  B_30         5529435 non-null  category
 106  S_18         5531451 non-null  float16
 107  D_86         5531451 non-null  float16
 108  D_87         3865 non-null     float16
 109  R_17         5531451 non-null  float16
 110  R_18         5531451 non-null  float16
 111  D_88         6004 non-null     float16
 112  B_31         5531451 non-null  float16
 113  S_19         5531451 non-null  float16
 114  R_19         5531451 non-null  float16
 115  B_32         5531451 non-null  float16
 116  S_20         5531451 non-null  float16
 117  R_20         5531376 non-null  float16
 118  R_21         5531451 non-null  float16
 119  B_33         5529435 non-null  float16
 120  D_89         5501888 non-null  float16
 121  R_22         5531451 non-null  float16
 122  R_23         5531451 non-null  float16
 123  D_91         5374235 non-null  float16
 124  D_92         5531451 non-null  float16
 125  D_93         5531451 non-null  float16
 126  D_94         5531451 non-null  float16
 127  R_24         5531451 non-null  float16
 128  R_25         5531451 non-null  float16
 129  D_96         5531451 non-null  float16
 130  S_22         5512427 non-null  float16
 131  S_23         5531006 non-null  float16
 132  S_24         5512858 non-null  float16
 133  S_25         5518604 non-null  float16
 134  S_26         5530817 non-null  float16
 135  D_102        5490796 non-null  float16
 136  D_103        5429903 non-null  float16
 137  D_104        5429903 non-null  float16
 138  D_105        2510020 non-null  float16
 139  D_106        541349 non-null   float16
 140  D_107        5429903 non-null  float16
 141  B_36         5531451 non-null  float16
 142  B_37         5531395 non-null  float16
 143  R_26         609305 non-null   float16
 144  R_27         5402748 non-null  float16
 145  B_38         5529435 non-null  category
 146  D_108        28938 non-null    float16
 147  D_109        5529854 non-null  float16
 148  D_110        31334 non-null    float16
 149  D_111        31334 non-null    float16
 150  B_39         33632 non-null    float16
 151  D_112        5528801 non-null  float16
 152  B_40         5531398 non-null  float16
 153  S_27         4130516 non-null  float16
 154  D_113        5354735 non-null  float16
 155  D_114        5354735 non-null  category
 156  D_115        5354735 non-null  float16
 157  D_116        5354735 non-null  category
 158  D_117        5354735 non-null  category
 159  D_118        5354735 non-null  float16
 160  D_119        5354735 non-null  float16
 161  D_120        5354735 non-null  category
 162  D_121        5354735 non-null  float16
 163  D_122        5354735 non-null  float16
 164  D_123        5354735 non-null  float16
 165  D_124        5354735 non-null  float16
 166  D_125        5354735 non-null  float16
 167  D_126        5414635 non-null  category
 168  D_127        5531451 non-null  float16
 169  D_128        5429903 non-null  float16
 170  D_129        5429903 non-null  float16
 171  B_41         5530761 non-null  float16
 172  B_42         71478 non-null    float16
 173  D_130        5429903 non-null  float16
 174  D_131        5429903 non-null  float16
 175  D_132        542577 non-null   float16
 176  D_133        5488735 non-null  float16
 177  R_28         5531451 non-null  float16
 178  D_134        194699 non-null   float16
 179  D_135        194699 non-null   float16
 180  D_136        194699 non-null   float16
 181  D_137        194699 non-null   float16
 182  D_138        194699 non-null   float16
 183  D_139        5429903 non-null  float16
 184  D_140        5490819 non-null  float16
 185  D_141        5429903 non-null  float16
 186  D_142        944408 non-null   float16
 187  D_143        5429903 non-null  float16
 188  D_144        5490724 non-null  float16
 189  D_145        5429903 non-null  float16
 190  target       5531451 non-null  int64
dtypes: category(11), datetime64[ns](1), float16(177), int64(1), object(1)
memory usage: 2.0+ GB

In [6]:
# 16->10진수 변환
train['customer_ID'] =\
train['customer_ID'].apply(lambda x: int(x[-16:],16)).astype('int64')

#### + 참고한 노트북  
https://www.kaggle.com/code/ambrosm/amex-eda-which-makes-sense  
https://www.kaggle.com/code/kellibelcher/amex-default-prediction-eda-lgbm-baseline