# Artificial neural networks

입력층) 데이터 입력받음

은닉층) 입력받은 값을 다음 층에게 전달

출력층) 결과값 출력

-> 로지스틱 회귀분석 아주 여러번 하는 모델 ㅇㅇ

 inst_id index로 했었는데 csv 변환 후 불러오니깐 index로 안불려져서 index로 설정하시든, drop하시든 하면 될 것 같습니다
* bedCount_class: bedCount 1: ~30, 2: 30~100, 3: 100~300, 4: 300~ 
* Train은 train, valid로 나누기 전 데이터셋
* Train_lr: 로지스틱 feature selection 해서 뽑힌 컬럼들 + OC
* Train_dt: 분류나무 feature selection 해서 뽑힌 컬럼들 + OC

In [35]:
%matplotlib inline

from pathlib import Path

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier, MLPRegressor
from dmba import classificationSummary
from sklearn.metrics import mean_squared_error

In [9]:
train_df=pd.read_csv("Train.csv")
test_df=pd.read_csv("Test.csv")
train_lr=pd.read_csv("Train_lr.csv")
train_dt=pd.read_csv("Train_dt.csv")

In [10]:
train_df

,inst_id,OC,sido_choongchung,sido_gangwon,sido_gyeongin,sido_gyeongsang,sido_jeonra,sido_seoul,instkind_clinic,instkind_general_hospital,...,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,bedCount_class
0,1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19.222130,0.000000,20.099863,19.781657,21.686169,20.963246,4.143135,4.174387,0.0,3.0
1,3,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,18.841626,9.180719,18.812726,17.568559,18.838180,12.258481,6.687109,6.701960,0.0,4.0
2,4,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.459586,0.693147,0.0,4.0
3,7,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,23.557572,22.944579,23.755157,23.437961,23.284691,22.769775,6.498282,6.498282,0.0,4.0
4,9,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,24.126880,23.590810,23.784786,23.370010,15.531458,22.923325,5.332719,5.288267,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,422,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,21.685753,0.000000,22.641007,22.503290,22.405862,20.514569,5.267858,4.955827,0.0,3.0
297,423,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.382027,4.382027,0.0,3.2
298,426,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,21.498441,0.000000,22.158142,21.639056,21.904736,0.000000,3.860891,3.905642,0.0,2.6
299,427,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,22.579564,0.000000,0.000000,0.000000,0.000000,0.000000,4.615121,5.580909,0.0,3.0
300,428,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,21.862083,0.000000,21.523440,21.507167,22.434570,22.558953,2.772589,2.772589,0.0,2.8

In [11]:
train_df.set_index('inst_id',inplace=True)
train_df

,OC,sido_choongchung,sido_gangwon,sido_gyeongin,sido_gyeongsang,sido_jeonra,sido_seoul,instkind_clinic,instkind_general_hospital,instkind_hospital,...,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,bedCount_class
inst_id,,,,,,,,,,,,,,,,,,,,,
1,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19.222130,0.000000,20.099863,19.781657,21.686169,20.963246,4.143135,4.174387,0.0,3.0
3,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,18.841626,9.180719,18.812726,17.568559,18.838180,12.258481,6.687109,6.701960,0.0,4.0
4,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.459586,0.693147,0.0,4.0
7,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,23.557572,22.944579,23.755157,23.437961,23.284691,22.769775,6.498282,6.498282,0.0,4.0
9,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,24.126880,23.590810,23.784786,23.370010,15.531458,22.923325,5.332719,5.288267,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,21.685753,0.000000,22.641007,22.503290,22.405862,20.514569,5.267858,4.955827,0.0,3.0
423,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.382027,4.382027,0.0,3.2
426,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,21.498441,0.000000,22.158142,21.639056,21.904736,0.000000,3.860891,3.905642,0.0,2.6
427,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22.579564,0.000000,0.000000,0.000000,0.000000,0.000000,4.615121,5.580909,0.0,3.0
428,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,21.862083,0.000000,21.523440,21.507167,22.434570,22.558953,2.772589,2.772589,0.0,2.8

In [12]:
test_df.set_index('inst_id',inplace=True)
train_lr.set_index('inst_id',inplace=True)
train_df.set_index('inst_id',inplace=True)

KeyError: "None of ['inst_id'] are in the columns"

In [13]:
test_df

,OC,sido_choongchung,sido_gyeongin,sido_gyeongsang,sido_jeju,sido_jeonra,sido_seoul,instkind_clinic,instkind_general_hospital,instkind_hospital,...,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,bedCount_class
inst_id,,,,,,,,,,,,,,,,,,,,,
2,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,24.648885,24.338050,22.275075,22.268698,23.501178,22.914314,6.542472,6.542472,0.0,3.0
5,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,24.463273,23.909618,23.950510,23.630167,22.055404,0.000000,5.940171,5.918894,0.0,2.0
6,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,24.047434,23.806220,0.000000,0.000000,0.000000,23.519657,5.285888,5.225619,0.2,3.0
8,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,22.980460,22.170624,21.662855,0.000000,24.390483,0.000000,6.634633,6.634633,0.0,4.0
10,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,22.742900,21.916712,24.318498,23.784183,23.971502,23.436150,6.082219,5.955837,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,23.279082,0.000000,21.735002,0.000000,23.351521,0.000000,6.329721,4.949613,0.0,3.0
425,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,21.042985,0.000000,21.310989,21.277151,22.872059,22.688514,4.890349,4.927254,0.0,3.2
429,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.588876,4.544446,0.0,3.0
430,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,22.861674,0.000000,24.080792,23.967076,22.205786,0.000000,5.897154,5.840642,0.0,3.2
431,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.588876,4.544446,0.0,2.0

In [14]:
train_lr

,sido_choongchung,sido_gyeongsang,sido_jeonra,instkind_nursing_hospital,instkind_traditional_hospital,revenue1,sga1,salary1,noe1,interest1,...,profit2,inventoryAsset2,OnonCAsset2,shortLoan2,NCLiabilities2,longLoan2,surplus2,ownerChange,bedCount_class,OC
inst_id,,,,,,,,,,,,,,,,,,,,,
1,1.0,0.0,0.0,1.0,0.0,22.162515,22.099796,21.433189,16.539187,16.398469,...,19.152229,16.425505,18.798422,0.000000,20.099863,19.781657,20.963246,0.0,3.0,1
3,0.0,1.0,0.0,0.0,0.0,23.980280,23.481393,19.521179,16.823799,15.443340,...,17.025473,16.044684,15.372413,9.180719,18.812726,17.568559,12.258481,0.0,4.0,1
4,0.0,0.0,0.0,1.0,0.0,20.727778,19.918561,19.507228,10.308986,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,4.0,1
7,0.0,0.0,0.0,0.0,0.0,25.006954,24.981392,24.182293,20.954034,20.902985,...,20.546991,20.934483,22.088313,22.944579,23.755157,23.437961,22.769775,0.0,4.0,1
9,0.0,1.0,0.0,0.0,0.0,24.615974,24.587275,23.920337,21.073281,20.991191,...,17.301128,19.908536,20.486709,23.590810,23.784786,23.370010,22.923325,0.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,0.0,0.0,1.0,1.0,0.0,22.753346,22.498747,21.966804,20.427474,19.049695,...,18.287284,15.922774,18.157453,0.000000,22.641007,22.503290,20.514569,0.0,3.0,1
423,1.0,0.0,0.0,0.0,0.0,22.627929,0.000000,0.000000,18.756090,18.680716,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,3.2,0
426,0.0,1.0,0.0,0.0,0.0,0.000000,17.819096,15.830414,18.742626,18.742626,...,17.633437,15.389386,17.784997,0.000000,22.158142,21.639056,0.000000,0.0,2.6,0
427,0.0,0.0,0.0,1.0,0.0,21.473215,21.913011,21.526139,20.100935,20.058451,...,17.338288,17.832279,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,3.0,0
428,0.0,0.0,0.0,0.0,1.0,21.016660,20.038763,18.697538,18.113592,18.113592,...,17.740589,17.605920,18.280620,0.000000,21.523440,21.507167,22.558953,0.0,2.8,1

In [15]:
train_dt

,inst_id,instkind_hospital,instkind_traditional_clinic,instkind_nan,revenue1,salescost1,sga1,salary1,liquidAsset1,quickAsset1,receivableS1,inventoryAsset2,receivableL2,employee2,OC
0,1,0.0,0.0,0.0,22.162515,0.000000,22.099796,21.433189,20.735886,20.720935,19.968362,16.425505,0.000000,4.174387,1
1,3,0.0,0.0,0.0,23.980280,9.659782,23.481393,19.521179,19.074269,19.037270,10.917985,16.044684,0.000000,6.701960,1
2,4,0.0,0.0,0.0,20.727778,20.060616,19.918561,19.507228,19.422937,19.351593,15.906875,0.000000,0.000000,0.693147,1
3,7,0.0,0.0,0.0,25.006954,0.000000,24.981392,24.182293,23.291406,23.168630,0.000000,20.934483,0.000000,6.498282,1
4,9,0.0,0.0,0.0,24.615974,0.000000,24.587275,23.920337,22.566524,22.493677,22.134087,19.908536,0.000000,5.288267,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,422,0.0,0.0,0.0,22.753346,19.844626,22.498747,21.966804,21.744494,21.741939,21.309449,15.922774,0.000000,4.955827,1
297,423,1.0,0.0,0.0,22.627929,22.827400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.382027,0
298,426,1.0,0.0,0.0,0.000000,0.000000,17.819096,15.830414,22.075806,22.075806,20.847528,15.389386,0.000000,3.905642,0
299,427,0.0,0.0,0.0,21.473215,19.407150,21.913011,21.526139,22.318477,22.314711,17.160044,17.832279,17.993619,5.580909,0
300,428,0.0,0.0,0.0,21.016660,20.513587,20.038763,18.697538,20.311407,20.244875,16.553743,17.605920,0.000000,2.772589,1

In [16]:
X = train_df.drop('OC',axis=1)
y = train_df['OC']

clf = MLPClassifier(hidden_layer_sizes=(2), activation='logistic', solver='lbfgs', random_state=1)
clf.fit(X, y)
clf.predict(X)
classes = sorted(y.unique())

# Network structure
print('OC')
print(clf.intercepts_)

# Prediction
print(pd.concat([
    train_df,
    pd.DataFrame(clf.predict_proba(X), columns=classes)
], axis=1))

classificationSummary(y, clf.predict(X), class_names=classes)

OC
[array([0.21537859, 0.15019469]), array([-6.01875445])]
      OC  sido_choongchung  sido_gangwon  sido_gyeongin  sido_gyeongsang  \
0    NaN               NaN           NaN            NaN              NaN
1    1.0               1.0           0.0            0.0              0.0
2    NaN               NaN           NaN            NaN              NaN
3    1.0               0.0           0.0            0.0              1.0
4    1.0               0.0           0.0            1.0              0.0
..   ...               ...           ...            ...              ...
422  1.0               0.0           0.0            0.0              0.0
423  0.0               1.0           0.0            0.0              0.0
426  0.0               0.0           0.0            0.0              1.0
427  0.0               0.0           0.0            1.0              0.0
428  1.0               0.0           0.0            0.0              0.0

     sido_jeonra  sido_seoul  instkind_clinic  instkind_general_hospital  \
0            NaN         NaN              NaN                        NaN
1            0.0         0.0              0.0                        0.0
2            NaN         NaN              NaN                        NaN
3            0.0         0.0              0.0                        1.0
4            0.0         0.0              0.0                        0.0
..           ...         ...              ...                        ...
422          1.0         0.0              0.0                        0.0
423          0.0         0.0              0.0                        0.0
426          0.0         0.0              0.0                        0.0
427          0.0         0.0              0.0                        0.0
428          0.0         1.0              0.0                        0.0

     instkind_hospital  ...  NCLiabilities2  longLoan2  netAsset2   surplus2  \
0                  NaN  ...             NaN        NaN        NaN        NaN
1                  0.0  ...       20.099863  19.781657  21.686169  20.963246
2                  NaN  ...             NaN        NaN        NaN        NaN
3                  0.0  ...       18.812726  17.568559  18.838180  12.258481
4                  0.0  ...        0.000000   0.000000   0.000000   0.000000
..                 ...  ...             ...        ...        ...        ...
422                0.0  ...       22.641007  22.503290  22.405862  20.514569
423                1.0  ...        0.000000   0.000000   0.000000   0.000000
426                1.0  ...       22.158142  21.639056  21.904736   0.000000
427                0.0  ...        0.000000   0.000000   0.000000   0.000000
428                0.0  ...       21.523440  21.507167  22.434570  22.558953

     employee1  employee2  ownerChange  bedCount_class         0         1
0          NaN        NaN          NaN             NaN  0.046697  0.953303
1     4.143135   4.174387          0.0             3.0  0.046697  0.953303
2          NaN        NaN          NaN             NaN  0.046697  0.953303
3     6.687109   6.701960          0.0             4.0  0.046697  0.953303
4     5.459586   0.693147          0.0             4.0  0.046697  0.953303
..         ...        ...          ...             ...       ...       ...
422   5.267858   4.955827          0.0             3.0       NaN       NaN
423   4.382027   4.382027          0.0             3.2       NaN       NaN
426   3.860891   3.905642          0.0             2.6       NaN       NaN
427   4.615121   5.580909          0.0             3.0       NaN       NaN
428   2.772589   2.772589          0.0             2.8       NaN       NaN

[394 rows x 68 columns]
Confusion Matrix (Accuracy 0.9535)

       Prediction
Actual   0   1
     0   1  14
     1   0 286

In [17]:
outcome='OC'
X = train_df.drop('OC',axis=1)
y = train_df['OC']
train_X,valid_X,train_y,valid_y=train_test_split(X,y,test_size=0.4, random_state=1)

clf=MLPClassifier(hidden_layer_sizes=(2), activation='logistic',solver='lbfgs',random_state=1)
clf.fit(train_X,train_y)

classificationSummary(train_y, clf.predict(train_X))
classificationSummary(valid_y, clf.predict(valid_X))

Confusion Matrix (Accuracy 0.9556)

       Prediction
Actual   0   1
     0   0   8
     1   0 172
Confusion Matrix (Accuracy 0.9421)

       Prediction
Actual   0   1
     0   0   7
     1   0 114

# ##Train_lr

In [18]:
X = train_lr.drop('OC',axis=1)
y = train_lr['OC']
classes = sorted(y.unique())

clf = MLPClassifier(hidden_layer_sizes=(3), activation='logistic', solver='lbfgs', random_state=1)
clf.fit(X, y)
clf.predict(X)
classes = sorted(y.unique())

classificationSummary(y, clf.predict(X), class_names=classes)

Confusion Matrix (Accuracy 0.9502)

       Prediction
Actual   0   1
     0   0  15
     1   0 286

In [23]:
X = train_lr.drop('OC',axis=1)
y = train_lr['OC']
classes = sorted(y.unique())

clf = MLPClassifier(hidden_layer_sizes=(4), activation='logistic', solver='lbfgs', random_state=1)
clf.fit(X, y)
clf.predict(X)
classes = sorted(y.unique())

classificationSummary(y, clf.predict(X), class_names=classes)

Confusion Matrix (Accuracy 0.9502)

       Prediction
Actual   0   1
     0   0  15
     1   0 286

In [30]:
X = train_lr.drop('OC',axis=1)
y = train_lr['OC']
classes = sorted(y.unique())

clf = MLPClassifier(hidden_layer_sizes=(2), activation='logistic', solver='lbfgs', random_state=1)
clf.fit(X, y)
clf.predict(X)
classes = sorted(y.unique())

classificationSummary(y, clf.predict(X), class_names=classes)

Confusion Matrix (Accuracy 0.9734)

       Prediction
Actual   0   1
     0  13   2
     1   6 280

c:\users\jse17\appdata\local\programs\python\python38\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [31]:
X = train_lr.drop('OC',axis=1)
y = train_lr['OC']
classes = sorted(y.unique())

clf = MLPClassifier(hidden_layer_sizes=(1), activation='logistic', solver='lbfgs', random_state=1)
clf.fit(X, y)
clf.predict(X).9502)
classes = sorted(y.unique())

classificationSummary(y, clf.predict(X), class_names=classes)

Confusion Matrix (Accuracy 0.9502)

       Prediction
Actual   0   1
     0   0  15
     1   0 286

# ##Train_dt

In [25]:
X=train_dt.drop('OC',axis=1)
y=train_dt['OC']
classes=sorted(y.unique())

clf=MLPClassifier(hidden_layer_sizes=(3),activation='logistic',solver='lbfgs',random_state=1)
clf.fit(X,y)
clf.predict(X)
classses=sorted(y.unique())

classificationSummary(y,clf.predict(X),class_names=classes)

Confusion Matrix (Accuracy 0.9502)

       Prediction
Actual   0   1
     0   0  15
     1   0 286

In [26]:
X=train_dt.drop('OC',axis=1)
y=train_dt['OC']
classes=sorted(y.unique())

clf=MLPClassifier(hidden_layer_sizes=(4),activation='logistic',solver='lbfgs',random_state=1)
clf.fit(X,y)
clf.predict(X)
classses=sorted(y.unique())

classificationSummary(y,clf.predict(X),class_names=classes)

Confusion Matrix (Accuracy 0.9502)

       Prediction
Actual   0   1
     0   0  15
     1   0 286

In [27]:
X=train_dt.drop('OC',axis=1)
y=train_dt['OC']
classes=sorted(y.unique())

clf=MLPClassifier(hidden_layer_sizes=(2),activation='logistic',solver='lbfgs',random_state=1)
clf.fit(X,y)
clf.predict(X)
classses=sorted(y.unique())

classificationSummary(y,clf.predict(X),class_names=classes)

Confusion Matrix (Accuracy 0.9502)

       Prediction
Actual   0   1
     0   0  15
     1   0 286

In [39]:
X=train_dt.drop('OC',axis=1)
y=train_dt['OC']
#classes=sorted(y.unique())

clf=MLPClassifier(hidden_layer_sizes=(1),activation='logistic',solver='lbfgs',random_state=1)
clf.fit(X,y)
clf.predict(X)
classses=sorted(y.unique())

classificationSummary(y,clf.predict(X))

Confusion Matrix (Accuracy 0.9502)

       Prediction
Actual   0   1
     0   0  15
     1   0 286

In [38]:
##
for i in range(1,15):
    hidden=[1]*i
    clf=MLPRegressor(hidden_layer_sizes=(hidden), activation='logistic',solver='lbfgs',random_state=1)
    clf.fit(X,y)
    pred_y=clf.predict(X)
    rmse=mean_squared_error(y, pred_y)

c:\users\jse17\appdata\local\programs\python\python38\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [56]:
** 신경망의 단점은, 과적합이 쉽게 이뤄져서 오차율이 너무 커질 수 있음

SyntaxError: invalid syntax (Temp/ipykernel_5240/1357961550.py, line 1)